body{
  min-height: 100svh;
  background-image: url(../images/bg-3.jpeg);
  background-size: cover;
}
.row{
  display: flex;
  width: 180px;
  background-color: #a6e83c;
  &:nth-child(odd){
    background-color: #11c07a;
  }
  .col{
    width: 60px;
    height: 30px;
    display: grid;
    place-items: center;
    user-select: none;
    cursor: pointer;
    &.active{
      background-color: #26bbdc;
    }
  }
}